<div id="acerca"></div>

<div class="modal fade" id="acercaForm" tabindex="-1" aria-labelledby="acercaFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acercaFormLabel">Acerca</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="acercaForm" (ngSubmit)="onSubmit()">
          <input type="hidden" name="id" formControlName="id">

          <div class="row mb-3">
            <label for="details" class="col-sm-2 col-form-label">Details</label>
            <div class="col-sm-10">
              <input type="text" name="details" formControlName="details" class="form-control" required>
            </div>
          </div>

          <div class="text-center">
            <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="acerca">
  <div class="card-titles">
    <h2>Acerca de</h2>
  </div>
  <li *ngFor="let acerca of acercaList; let i = index ">
    <div class="card-titles">
     <div id="about">
       {{acerca.details}}
     </div>
     <div *ngIf="isUserLogged" class="btn-edit">
       <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#acercaForm" (click)="onEditAcerca(i)"><i class="fa fa-pen"></i></button>
     </div>
    </div> 
  </li>
</div>
  
